// #{$변수명}

@for $i from 1 through 3 {
    .photo-box:nth-child(#{$i}) {
        background-image: url("../assets/phoster#{$i}.png");
    }
}

@for $kngsujng from 1 through 3 {
    .photo-box:nth-child(#{$kngsujng}) {
        background-image: url("../assets/phoster#{$kngsujng}.png");
    }
}

@for $kngsujng from 1 through 3{
    .profile-#{$kngsujng}{
        background-color: red;
        font-size: #{$kngsujng * 10}px;
    }
}